
<div class="new_user_box">

        <%= form_with(model: @user,  local: true, data: { turbo: false })  do |f| %>
            <div  class="form_content justfy-contents-between">

                <div class="form-group row my-2 justify-content-between">
                    <%= f.label :first, class: "col-2 col-form-label" %>
                        <div class="col-8">
                            <%= f.text_field :first_name, class: "form-control rounded-1", placeholder: "Type in first name" %>
                        </div>
                </div>

                <div class="form-group row my-2 justify-content-between">
                    <%= f.label :last, class: "col-2 col-form-label" %>
                        <div class="col-8">
                            <%= f.text_field :last_name, class: "form-control rounded-1", placeholder: "Type in last name" %>
                        </div>
                </div>

                <div class="form-group row my-2 justify-content-between">
                    <%= f.label :email, class: "col-2 col-form-label" %>
                        <div class="col-8">
                            <%= f.email_field :email, class: "form-control rounded-1", placeholder: "Type in email" %>
                        </div>
                </div>

                <div class="form-group row my-2 justify-content-between">
                    <%= f.label :username, class: "col-2 col-form-label" %>
                        <div class="col-8">
                            <%= f.text_field :username, class: "form-control rounded-1", placeholder: "Type in username" %>
                        </div>
                </div>

                <div class="form-group row my-2 justify-content-between">
                    <%= f.label :password, class: "col-2 col-form-label" %>
                        <div class="col-8">
                            <%= f.password_field :password, class: "form-control rounded-1", placeholder: "Type in password" %>
                        </div>
                </div>

            </div>

            <div  class="d-flex mt-3 align-items-start justify-content-between">
                <%= link_to "Cancel", root_path,  class: "btn btn-secondary" %>
                <%= f.submit class: "btn btn-primary"  %>
            </div>

            

    <% end %>
</div>

